<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Banner Page</title>
    <link  rel="stylesheet" th:href="@{/css/user/couponDetail.css}">

</head>
<body>
<th:block layout:fragment="content">
    <main>
            <div class="info">
                <p class="info-title">나의 쇼핑정보</p>
                <div class="summary-table">
                    <div class="summary-item">
                        <span>주문</span><br>
                        <span class="summary-value">2</span>
                    </div>
                    <div class="summary-item">
                        <span>쿠폰</span><br>
                        <span class="summary-value">1</span>
                    </div>
                    <div class="summary-item">
                        <span>포인트</span><br>
                        <span class="summary-value">1,000</span>
                    </div>
                    <div class="summary-item">
                        <span>문의</span><br>
                        <span class="summary-value">1</span>
                    </div>
                </div>
            </div>

   
        <div id="container">
            <aside>
                <ul>
                    <li><a href="">전체주문내역</a></li>
                    <li><a href="">포인트내역</a></li>
                    <li><a href="">쿠폰</a></li>
                    <li><a href="">나의리뷰</a></li>
                    <li><a href="">문의하기</a></li>
                    <li><a href="">나의설정</a></li>
                </ul>
            </aside>

            <div class="center">
                <div class="ad">900x86 배너광고</div>               
                <div>
                    <div class="details">
                        <p>쿠폰내역</p>
                    </div>
    
                    <table class="coupon-table">
                        <tbody>      
                            <tr class="font">
                                <th>쿠폰명</th>
                                <th>할인금액</th>  
                                <th>적용기준/제한조건</th>  
                                <th>상태</th>
                                <th>유효기간</th>
    
                            </tr>
                            <tr class="tr3">
                                <td><data value="">1만원 할인 중복 쿠폰</data></td>
                                <td><data value="">10,000원</data></td>
                                <td><data value="">10,000원 이상 구매시</data></td>    
                                <td><data value="">사용가능</data></td> 
                                <td><data value="">~ 12/31</data></td> 
                            </tr>
                            <tr class="tr3">
                                <td><data value="">회원가입 축하 5천원 할인쿠폰</data></td>
                                <td><data value="">5,000원</data></td>
                                <td><data value="">5,000원 이상 구매시</data></td>    
                                <td><data value="">사용가능</data></td> 
                                <td><data value="">~ 12/31</data></td> 
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="couponguide">
                    <ul>
                        <li>순금 / 골드바 / 돌반지 / 상품권 등 환금성 카테고리 및 중고상품 및 일부 프로모션 상품에는 쿠폰사용이 제한됩니다.</li>
                        <li>쿠폰 적용 가능한 금액 기준은 판매자 상품별 할인과 G마켓 추가할인이 모두 포함된 할인적용가입니다.</li>
                        <li>중복쿠폰은 판매자 할인, G마켓 할인과 중복 적용 가능하며 하나의 상품당 한장의 중복쿠폰만 사용 가능합니다.</li>
                        <li>항공 할인은 항공권 전용 할인으로 결제 시점에 할인 혜택을 받을 수 있습니다.</li>
                        <li>항공권 예약취소 또는 환불시 적용했던 항공할인은 id당 1회 한하여 다시 발급 됩니다.</li>
                    </ul>

                </div>

               
            </div>
        </div>
        </main>
    </div>
</body>
</html>