<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Banner Page</title>
    <link  rel="stylesheet" th:href="@{/css/user/mypageMain.css}">

</head>
<body>
<th:block layout:fragment="content">
<main>
    <div class="info">
        <p class="info-title">나의 쇼핑정보</p>
        <div class="summary-table">
            <div class="summary-item">
                <span>주문</span><br>
                <span class="summary-value">2</span>
            </div>
            <div class="summary-item">
                <span>쿠폰</span><br>
                <span class="summary-value">1</span>
            </div>
            <div class="summary-item">
                <span>포인트</span><br>
                <span class="summary-value">1,000</span>
            </div>
            <div class="summary-item">
                <span>문의</span><br>
                <span class="summary-value">1</span>
            </div>
        </div>
    </div>


    <div id="container">
        <aside>
            <ul>
                <li><a href="">전체주문내역</a></li>
                <li><a href="">포인트내역</a></li>
                <li><a href="">쿠폰</a></li>
                <li><a href="">나의리뷰</a></li>
                <li><a href="">문의하기</a></li>
                <li><a href="">나의설정</a></li>
            </ul>
        </aside>

        <div class="center">
            <div class="ad">900x86 배너광고</div>

            <div class="details">
                <p>최근주문내역</p>
                <a href="">더보기 ></a>
            </div>

            <table>
                <tbody>
                <tr class="font">
                    <th>날짜</th>
                    <th>상품정보</th>
                    <th>상태</th>
                    <th>확인/신청</th>
                </tr>
                <tr class="tr1">
                    <td>
                        <data value="">2023-01-01</data>
                    </td>
                    <td>
                        <div style="display: flex; align-items: center;">
                            <div class="eximg">
                                <img src="./img/ch.png" alt="상품 이미지">
                            </div>
                            <div class="Pinf">
                                <a href="">주문번호: 123456</a>
                                <a href="">회사명: ABC 회사</a>
                                <a href="">상품명</a>
                                <p>수량: 2</p>
                                <p>가격: 20,000원</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <data value="">배송완료</data>
                    </td>
                    <td>
                        <div class="button" style="display: flex; flex-direction: column; gap: 3px; ">
                            <button class="custom-button">수취확인</button>
                            <button class="custom-button">상품평쓰기</button>
                            <button>반품신청</button>
                            <button>교환신청</button>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

            <div style="position: relative; top: 15px;">
                <div class="details">
                    <p>포인트적립내역</p>
                    <a href="">더보기 ></a>
                </div>

                <table class="points-table">
                    <tbody>
                    <tr class="font">
                        <th>날짜</th>
                        <th>구분</th>
                        <th>주문번호</th>
                        <th>적립번호</th>
                        <th>비고</th>
                        <th>유효기간</th>

                    </tr>
                    <tr class="tr2">
                        <td>
                            <data value="">2022-12-13</data>
                        </td>
                        <td>
                            <data value="">적립</data>
                        </td>
                        <td>
                            <data value="">2022121001</data>
                        </td>
                        <td>
                            <data value="">340</data>
                        </td>
                        <td>
                            <data value="">상품 구매확정</data>
                        </td>
                        <td>
                            <data value="">2024-12-10</data>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div style="position: relative; top: 25px;">
                <div class="details">
                    <p>상품평</p>
                    <a href="">더보기 ></a>
                </div>

                <table class="Review-table">
                    <tbody>
                    <tr class="font">
                        <th>번호</th>
                        <th>상품명</th>
                        <th>내용</th>
                        <th>평점</th>
                        <th>작성일</th>

                    </tr>
                    <tr class="tr3">
                        <td>
                            <data value="">1</data>
                        </td>
                        <td>
                            <data value="">
                                <div class="eximg2">
                                    <img src="./img/ch.png" alt="상품 이미지">
                                </div>
                                <div class="Pinf2">
                                    <p>상품번호<br> 123456</p>
                                    <p>상품명<br> 치킨</p>
                                </div>
                            </data>
                        </td>
                        <td>
                            <data value="">배송이 빠릅니다. 잘사용하겠습니다.</data>
                        </td>
                        <td>
                            <data value="">평점</data>
                        </td>
                        <td>
                            <data value="">2022-12-10</data>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div style="position: relative; top: 35px;">
                <div class="details">
                    <p>문의내역</p>
                    <a href="">더보기 ></a>
                </div>

                <table class="inquiry-table">
                    <tbody>
                    <tr class="font">
                        <th>번호</th>
                        <th>문의채널</th>
                        <th>문의유형</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>상태</th>

                    </tr>
                    <tr class="tr3">
                        <td>
                            <data value="">1</data>
                        </td>
                        <td>
                            <data value="">고객센터</data>
                        </td>
                        <td>
                            <data value="">주문 /결제</data>
                        </td>
                        <td>
                            <data value="">신용카드 결제 중 오류가 난 경우 어떻게 하나요?</data>
                        </td>
                        <td>
                            <data value="">2022-12-12</data>
                        </td>
                        <td>
                            <data value="">검토중</data>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div style="position: relative; top: 48px; height: 200px;">
                <div class="details">
                    <p>나의설정</p>
                </div>
                <div class="settings">
                    <div class="setting-item">
                        <div class="setting-item2-1">
                            <p>기본배송지설정</p>
                            <a href="#">변경</a>
                        </div>
                        <div class="setting-item2-1-1">
                            <p>부산광역시 사하구 다대포로 120<br>한빛빌딩 10층</p>
                        </div>
                    </div>
                    <div class="setting-item">
                        <div class="setting-item2-2">
                            <p>Email 설정</p>
                            <a href="#">변경</a>
                        </div>
                        <div class="setting-item2-2-2">
                            <p class="email">abc123@naver.com</p>
                            <p>(최종수정일 2021-12-10)</p>
                        </div>
                    </div>
                    <div class="setting-item">
                        <div class="setting-item2-3">
                            <p>휴대폰 설정</p>
                            <a href="#">변경</a>
                        </div>

                        <div class="setting-item2-3-3">
                            <p>010 - 1234 - 1001</p><br>
                            <p>(최종수정일 2021-12-10)</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
    <script  th:src="@{/js/mypageMain.js}"></script>
</th:block>