<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Banner Page</title>
    <link  rel="stylesheet" th:href="@{/css/user/orderdetails.css}">

</head>
<body>
<th:block layout:fragment="content">
    <main>
            <div class="info">
                <p class="info-title">나의 쇼핑정보</p>
                <div class="summary-table">
                    <div class="summary-item">
                        <span>주문</span><br>
                        <span class="summary-value">2</span>
                    </div>
                    <div class="summary-item">
                        <span>쿠폰</span><br>
                        <span class="summary-value">1</span>
                    </div>
                    <div class="summary-item">
                        <span>포인트</span><br>
                        <span class="summary-value">1,000</span>
                    </div>
                    <div class="summary-item">
                        <span>문의</span><br>
                        <span class="summary-value">1</span>
                    </div>
                </div>
            </div>

   
        <div id="container">
            <aside>
                <ul>
                    <li><a href="">전체주문내역</a></li>
                    <li><a href="">포인트내역</a></li>
                    <li><a href="">쿠폰</a></li>
                    <li><a href="">나의리뷰</a></li>
                    <li><a href="">문의하기</a></li>
                    <li><a href="">나의설정</a></li>
                </ul>
            </aside>

            <div class="center">
                <div class="ad">900x86 배너광고</div>

                <div class="details">
                    <p>최근주문내역</p>
                </div>
                <div class="dateInquiry">
                    <div>  
                        <p>기간별조회</p>
                    </div>
                    <div class="period-buttons">
                        <button onclick="setPeriod(7)">1주일</button>
                        <button onclick="setPeriod(15)">15일</button>
                        <button onclick="setPeriod(30)">1개월</button>

                        <form id="pointForm">
                            <div class="date-range-input">
                                <input type="date" id="startDate" required>
                                <span>~</span>
                                <input type="date" id="endDate" required>
                            </div>
                            <div class="text-center">
                                <button type="button" onclick="submitForm()">조회</button>
                            </div>
                        </form>
                    </div>
                </div>

                <table>
                    <tbody>      
                        <tr class="font">
                            <th>날짜</th>
                            <th>상품정보</th>  
                            <th>상태</th>  
                            <th>확인/신청</th>
                        </tr>
                        <tr class="tr1">
                            <td><data value="">2023-01-01</data></td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <div class="eximg">
                                        <img src="./img/ch.png" alt="상품 이미지">
                                    </div>
                                    <div class="Pinf">
                                        <a href="">주문번호: 123456</a>
                                        <a href="">회사명: ABC 회사</a>
                                        <a href="">상품명</a>
                                        <p>수량: 2</p>
                                        <p>가격: 20,000원</p>
                                    </div>
                                </div>
                            </td>
                            <td><data value="">배송완료</data></td>
                            <td>
                                <div class="button" style="display: flex; flex-direction: column; gap: 3px; ">
                                    <button class="custom-button">수취확인</button>
                                    <button class="custom-button">상품평쓰기</button>
                                    <button>반품신청</button>
                                    <button>교환신청</button>
                                </div>
                            </td>      
                        </tr>
                        <tr class="tr1">
                            <td><data value="">2023-01-01</data></td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <div class="eximg">
                                        <img src="./img/ch.png" alt="상품 이미지">
                                    </div>
                                    <div class="Pinf">
                                        <a href="">주문번호: 123456</a>
                                        <a href="">회사명: ABC 회사</a>
                                        <a href="">상품명</a>
                                        <p>수량: 2</p>
                                        <p>가격: 20,000원</p>
                                    </div>
                                </div>
                            </td>
                            <td><data value="">배송완료</data></td>
                            <td>
                                <div class="button" style="display: flex; flex-direction: column; gap: 3px; ">
                                    <button class="custom-button">수취확인</button>
                                    <button class="custom-button">상품평쓰기</button>
                                    <button>반품신청</button>
                                    <button>교환신청</button>
                                </div>
                            </td>      
                        </tr>
                        <tr class="tr1">
                            <td><data value="">2023-01-01</data></td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <div class="eximg">
                                        <img src="./img/ch.png" alt="상품 이미지">
                                    </div>
                                    <div class="Pinf">
                                        <a href="">주문번호: 123456</a>
                                        <a href="">회사명: ABC 회사</a>
                                        <a href="">상품명</a>
                                        <p>수량: 2</p>
                                        <p>가격: 20,000원</p>
                                    </div>
                                </div>
                            </td>
                            <td><data value="">배송완료</data></td>
                            <td>
                                <div class="button" style="display: flex; flex-direction: column; gap: 3px; ">
                                    <button class="custom-button">수취확인</button>
                                    <button class="custom-button">상품평쓰기</button>
                                    <button>반품신청</button>
                                    <button>교환신청</button>
                                </div>
                            </td>      
                        </tr>
                        <tr class="tr1">
                            <td><data value="">2023-01-01</data></td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <div class="eximg">
                                        <img src="./img/ch.png" alt="상품 이미지">
                                    </div>
                                    <div class="Pinf">
                                        <a href="">주문번호: 123456</a>
                                        <a href="">회사명: ABC 회사</a>
                                        <a href="">상품명</a>
                                        <p>수량: 2</p>
                                        <p>가격: 20,000원</p>
                                    </div>
                                </div>
                            </td>
                            <td><data value="">배송완료</data></td>
                            <td>
                                <div class="button" style="display: flex; flex-direction: column; gap: 3px; ">
                                    <button class="custom-button">수취확인</button>
                                    <button class="custom-button">상품평쓰기</button>
                                    <button>반품신청</button>
                                    <button>교환신청</button>
                                </div>
                            </td>      
                        </tr>
                        <tr class="tr1">
                            <td><data value="">2023-01-01</data></td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <div class="eximg">
                                        <img src="./img/ch.png" alt="상품 이미지">
                                    </div>
                                    <div class="Pinf">
                                        <a href="">주문번호: 123456</a>
                                        <a href="">회사명: ABC 회사</a>
                                        <a href="">상품명</a>
                                        <p>수량: 2</p>
                                        <p>가격: 20,000원</p>
                                    </div>
                                </div>
                            </td>
                            <td><data value="">배송완료</data></td>
                            <td>
                                <div class="button" style="display: flex; flex-direction: column; gap: 3px; ">
                                    <button class="custom-button">수취확인</button>
                                    <button class="custom-button">상품평쓰기</button>
                                    <button>반품신청</button>
                                    <button>교환신청</button>
                                </div>
                            </td>      
                        </tr>
                        <tr class="tr1">
                            <td><data value="">2023-01-01</data></td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <div class="eximg">
                                        <img src="./img/ch.png" alt="상품 이미지">
                                    </div>
                                    <div class="Pinf">
                                        <a href="">주문번호: 123456</a>
                                        <a href="">회사명: ABC 회사</a>
                                        <a href="">상품명</a>
                                        <p>수량: 2</p>
                                        <p>가격: 20,000원</p>
                                    </div>
                                </div>
                            </td>
                            <td><data value="">배송완료</data></td>
                            <td>
                                <div class="button" style="display: flex; flex-direction: column; gap: 3px; ">
                                    <button class="custom-button">수취확인</button>
                                    <button class="custom-button">상품평쓰기</button>
                                    <button>반품신청</button>
                                    <button>교환신청</button>
                                </div>
                            </td>      
                        </tr>
                        <tr class="tr1">
                            <td><data value="">2023-01-01</data></td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <div class="eximg">
                                        <img src="./img/ch.png" alt="상품 이미지">
                                    </div>
                                    <div class="Pinf">
                                        <a href="">주문번호: 123456</a>
                                        <a href="">회사명: ABC 회사</a>
                                        <a href="">상품명</a>
                                        <p>수량: 2</p>
                                        <p>가격: 20,000원</p>
                                    </div>
                                </div>
                            </td>
                            <td><data value="">배송완료</data></td>
                            <td>
                                <div class="button" style="display: flex; flex-direction: column; gap: 3px; ">
                                    <button class="custom-button">수취확인</button>
                                    <button class="custom-button">상품평쓰기</button>
                                    <button>반품신청</button>
                                    <button>교환신청</button>
                                </div>
                            </td>      
                        </tr>
                        <tr class="tr1">
                            <td><data value="">2023-01-01</data></td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <div class="eximg">
                                        <img src="./img/ch.png" alt="상품 이미지">
                                    </div>
                                    <div class="Pinf">
                                        <a href="">주문번호: 123456</a>
                                        <a href="">회사명: ABC 회사</a>
                                        <a href="">상품명</a>
                                        <p>수량: 2</p>
                                        <p>가격: 20,000원</p>
                                    </div>
                                </div>
                            </td>
                            <td><data value="">배송완료</data></td>
                            <td>
                                <div class="button" style="display: flex; flex-direction: column; gap: 3px; ">
                                    <button class="custom-button">수취확인</button>
                                    <button class="custom-button">상품평쓰기</button>
                                    <button>반품신청</button>
                                    <button>교환신청</button>
                                </div>
                            </td>      
                        </tr>
                        <tr class="tr1">
                            <td><data value="">2023-01-01</data></td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <div class="eximg">
                                        <img src="./img/ch.png" alt="상품 이미지">
                                    </div>
                                    <div class="Pinf">
                                        <a href="">주문번호: 123456</a>
                                        <a href="">회사명: ABC 회사</a>
                                        <a href="">상품명</a>
                                        <p>수량: 2</p>
                                        <p>가격: 20,000원</p>
                                    </div>
                                </div>
                            </td>
                            <td><data value="">배송완료</data></td>
                            <td>
                                <div class="button" style="display: flex; flex-direction: column; gap: 3px; ">
                                    <button class="custom-button">수취확인</button>
                                    <button class="custom-button">상품평쓰기</button>
                                    <button>반품신청</button>
                                    <button>교환신청</button>
                                </div>
                            </td>      
                        </tr>
                        <tr class="tr1">
                            <td><data value="">2023-01-01</data></td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <div class="eximg">
                                        <img src="./img/ch.png" alt="상품 이미지">
                                    </div>
                                    <div class="Pinf">
                                        <a href="">주문번호: 123456</a>
                                        <a href="">회사명: ABC 회사</a>
                                        <a href="">상품명</a>
                                        <p>수량: 2</p>
                                        <p>가격: 20,000원</p>
                                    </div>
                                </div>
                            </td>
                            <td><data value="">배송완료</data></td>
                            <td>
                                <div class="button" style="display: flex; flex-direction: column; gap: 3px; ">
                                    <button class="custom-button">수취확인</button>
                                    <button class="custom-button">상품평쓰기</button>
                                    <button>반품신청</button>
                                    <button>교환신청</button>
                                </div>
                            </td>      
                        </tr>

                        
                    </tbody>
                </table>


              
            </div>
        </div>
        </main>
    <script  th:src="@{js/orderdetails.js}"></script>

</th:block>