<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Banner Page</title>
    <link  rel="stylesheet" th:href="@{/css/user/pointdetails.css}">

</head>
<body>
<th:block layout:fragment="content">
    <main>
    <div class="info">
        <p class="info-title">나의 쇼핑정보</p>
        <div class="summary-table">
            <div class="summary-item">
                <span>주문</span><br>
                <span class="summary-value">2</span>
            </div>
            <div class="summary-item">
                <span>쿠폰</span><br>
                <span class="summary-value">1</span>
            </div>
            <div class="summary-item">
                <span>포인트</span><br>
                <span class="summary-value">1,000</span>
            </div>
            <div class="summary-item">
                <span>문의</span><br>
                <span class="summary-value">1</span>
            </div>
        </div>
    </div>


    <div id="container">
        <aside>
            <ul>
                <li><a href="">전체주문내역</a></li>
                <li><a href="">포인트내역</a></li>
                <li><a href="">쿠폰</a></li>
                <li><a href="">나의리뷰</a></li>
                <li><a href="">문의하기</a></li>
                <li><a href="">나의설정</a></li>
            </ul>
        </aside>

        <div class="center">
            <div class="ad">900x86 배너광고</div>


            <div>
                <div class="details">
                    <p>포인트내역</p>
                </div>
                <div class="dateInquiry">
                    <div>
                        <p>기간별조회</p>
                    </div>
                    <div class="period-buttons">
                        <button onclick="setPeriod(7)">1주일</button>
                        <button onclick="setPeriod(15)">15일</button>
                        <button onclick="setPeriod(30)">1개월</button>

                        <form id="pointForm">
                            <div class="date-range-input">
                                <input type="date" id="startDate" required>
                                <span>~</span>
                                <input type="date" id="endDate" required>
                            </div>
                            <div class="text-center">
                                <button type="button" onclick="submitForm()">조회</button>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="points-table">
                    <tbody>
                    <tr class="font">
                        <th>날짜</th>
                        <th>구분</th>
                        <th>주문번호</th>
                        <th>적립번호</th>
                        <th>비고</th>
                        <th>유효기간</th>

                    </tr>
                    <tr class="tr2">
                        <td>
                            <data value="">2022-12-13</data>
                        </td>
                        <td>
                            <data value="">적립</data>
                        </td>
                        <td>
                            <data value="">2022121001</data>
                        </td>
                        <td>
                            <data value="">340</data>
                        </td>
                        <td>
                            <data value="">상품 구매확정</data>
                        </td>
                        <td>
                            <data value="">2024-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <data value="">2022-12-13</data>
                        </td>
                        <td>
                            <data value="">적립</data>
                        </td>
                        <td>
                            <data value="">2022121001</data>
                        </td>
                        <td>
                            <data value="">120</data>
                        </td>
                        <td>
                            <data value="">상품 구매확정</data>
                        </td>
                        <td>
                            <data value="">2024-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <data value="">2022-12-13</data>
                        </td>
                        <td>
                            <data value="">적립</data>
                        </td>
                        <td>
                            <data value="">2022121001</data>
                        </td>
                        <td>
                            <data value="">500</data>
                        </td>
                        <td>
                            <data value="">상품 구매확정</data>
                        </td>
                        <td>
                            <data value="">2024-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <data value="">2022-12-13</data>
                        </td>
                        <td>
                            <data value="">적립</data>
                        </td>
                        <td>
                            <data value="">2022121001</data>
                        </td>
                        <td>
                            <data value="">50</data>
                        </td>
                        <td>
                            <data value="">상품 구매확정</data>
                        </td>
                        <td>
                            <data value="">2024-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <data value="">2022-12-13</data>
                        </td>
                        <td>
                            <data value="">적립</data>
                        </td>
                        <td>
                            <data value="">2022121001</data>
                        </td>
                        <td>
                            <data value="">100</data>
                        </td>
                        <td>
                            <data value="">상품 구매확정</data>
                        </td>
                        <td>
                            <data value="">2024-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <data value="">2022-12-13</data>
                        </td>
                        <td>
                            <data value="">적립</data>
                        </td>
                        <td>
                            <data value="">2022121001</data>
                        </td>
                        <td>
                            <data value="">340</data>
                        </td>
                        <td>
                            <data value="">상품 구매확정</data>
                        </td>
                        <td>
                            <data value="">2024-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <data value="">2022-12-13</data>
                        </td>
                        <td>
                            <data value="">적립</data>
                        </td>
                        <td>
                            <data value="">2022121001</data>
                        </td>
                        <td>
                            <data value="">120</data>
                        </td>
                        <td>
                            <data value="">상품 구매확정</data>
                        </td>
                        <td>
                            <data value="">2024-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <data value="">2022-12-13</data>
                        </td>
                        <td>
                            <data value="">적립</data>
                        </td>
                        <td>
                            <data value="">2022121001</data>
                        </td>
                        <td>
                            <data value="">500</data>
                        </td>
                        <td>
                            <data value="">상품 구매확정</data>
                        </td>
                        <td>
                            <data value="">2024-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <data value="">2022-12-13</data>
                        </td>
                        <td>
                            <data value="">적립</data>
                        </td>
                        <td>
                            <data value="">2022121001</data>
                        </td>
                        <td>
                            <data value="">50</data>
                        </td>
                        <td>
                            <data value="">상품 구매확정</data>
                        </td>
                        <td>
                            <data value="">2024-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <data value="">2022-12-13</data>
                        </td>
                        <td>
                            <data value="">적립</data>
                        </td>
                        <td>
                            <data value="">2022121001</data>
                        </td>
                        <td>
                            <data value="">100</data>
                        </td>
                        <td>
                            <data value="">상품 구매확정</data>
                        </td>
                        <td>
                            <data value="">2024-12-10</data>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    </main>
        <script th:if="${content=='pointdetails'}" th:src="@{/js/pointdetails.js}"></script>
</th:block>