<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Banner Page</title>
    <link  rel="stylesheet" th:href="@{/css/user/reviewdetails.css}">

</head>
<body>
<th:block layout:fragment="content">
    <main>
    <div class="info">
        <p class="info-title">나의 쇼핑정보</p>
        <div class="summary-table">
            <div class="summary-item">
                <span>주문</span><br>
                <span class="summary-value">2</span>
            </div>
            <div class="summary-item">
                <span>쿠폰</span><br>
                <span class="summary-value">1</span>
            </div>
            <div class="summary-item">
                <span>포인트</span><br>
                <span class="summary-value">1,000</span>
            </div>
            <div class="summary-item">
                <span>문의</span><br>
                <span class="summary-value">1</span>
            </div>
        </div>
    </div>


    <div id="container">
        <aside>
            <ul>
                <li><a href="">전체주문내역</a></li>
                <li><a href="">포인트내역</a></li>
                <li><a href="">쿠폰</a></li>
                <li><a href="">나의리뷰</a></li>
                <li><a href="">문의하기</a></li>
                <li><a href="">나의설정</a></li>
            </ul>
        </aside>

        <div class="center">
            <div class="ad">900x86 배너광고</div>

            <div>
                <div class="details">
                    <p>나의리뷰</p>
                </div>

                <table class="Review-table">
                    <tbody>
                    <tr class="font">
                        <th>번호</th>
                        <th>상품명</th>
                        <th>내용</th>
                        <th>평점</th>
                        <th>작성일</th>

                    </tr>
                    <tr class="tr3">
                        <td>
                            <data value="">1</data>
                        </td>
                        <td>
                            <data value="">
                                <div class="eximg2">
                                    <img src="./img/ch.png" alt="상품 이미지">
                                </div>
                                <div class="Pinf2">
                                    <p>상품번호<br> 123456</p>
                                    <p>상품명<br> 치킨</p>
                                </div>
                            </data>
                        </td>
                        <td>
                            <data value="">배송이 빠릅니다. 잘사용하겠습니다.</data>
                        </td>
                        <td>
                            <data value=""><span class="star">★ ★ ★ ★</span><span class="gray-star"> ★</span></data>
                        </td>
                        <td>
                            <data value="">2022-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr3">
                        <td>
                            <data value="">2</data>
                        </td>
                        <td>
                            <data value="">
                                <div class="eximg2">
                                    <img src="./img/ch.png" alt="상품 이미지">
                                </div>
                                <div class="Pinf2">
                                    <p>상품번호<br> 123456</p>
                                    <p>상품명<br> 치킨</p>
                                </div>
                            </data>
                        </td>
                        <td>
                            <data value="">배송이 빠릅니다. 잘사용하겠습니다.</data>
                        </td>
                        <td>
                            <data value=""><span class="star">★ ★ ★ ★</span><span class="gray-star"> ★</span></data>
                        </td>
                        <td>
                            <data value="">2022-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr3">
                        <td>
                            <data value="">3</data>
                        </td>
                        <td>
                            <data value="">
                                <div class="eximg2">
                                    <img src="./img/ch.png" alt="상품 이미지">
                                </div>
                                <div class="Pinf2">
                                    <p>상품번호<br> 123456</p>
                                    <p>상품명<br> 치킨</p>
                                </div>
                            </data>
                        </td>
                        <td>
                            <data value="">배송이 빠릅니다. 잘사용하겠습니다.</data>
                        </td>
                        <td>
                            <data value=""><span class="star">★ ★ ★ ★</span><span class="gray-star"> ★</span></data>
                        </td>
                        <td>
                            <data value="">2022-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr3">
                        <td>
                            <data value="">4</data>
                        </td>
                        <td>
                            <data value="">
                                <div class="eximg2">
                                    <img src="./img/ch.png" alt="상품 이미지">
                                </div>
                                <div class="Pinf2">
                                    <p>상품번호<br> 123456</p>
                                    <p>상품명<br> 치킨</p>
                                </div>
                            </data>
                        </td>
                        <td>
                            <data value="">배송이 빠릅니다. 잘사용하겠습니다.</data>
                        </td>
                        <td>
                            <data value=""><span class="star">★ ★ ★ ★</span><span class="gray-star"> ★</span></data>
                        </td>
                        <td>
                            <data value="">2022-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr3">
                        <td>
                            <data value="">5</data>
                        </td>
                        <td>
                            <data value="">
                                <div class="eximg2">
                                    <img src="./img/ch.png" alt="상품 이미지">
                                </div>
                                <div class="Pinf2">
                                    <p>상품번호<br> 123456</p>
                                    <p>상품명<br> 치킨</p>
                                </div>
                            </data>
                        </td>
                        <td>
                            <data value="">배송이 빠릅니다. 잘사용하겠습니다.</data>
                        </td>
                        <td>
                            <data value=""><span class="star">★ ★ ★ ★</span><span class="gray-star"> ★</span></data>
                        </td>
                        <td>
                            <data value="">2022-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr3">
                        <td>
                            <data value="">6</data>
                        </td>
                        <td>
                            <data value="">
                                <div class="eximg2">
                                    <img src="./img/ch.png" alt="상품 이미지">
                                </div>
                                <div class="Pinf2">
                                    <p>상품번호<br> 123456</p>
                                    <p>상품명<br> 치킨</p>
                                </div>
                            </data>
                        </td>
                        <td>
                            <data value="">배송이 빠릅니다. 잘사용하겠습니다.</data>
                        </td>
                        <td>
                            <data value=""><span class="star">★ ★ ★ ★</span><span class="gray-star"> ★</span></data>
                        </td>
                        <td>
                            <data value="">2022-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr3">
                        <td>
                            <data value="">7</data>
                        </td>
                        <td>
                            <data value="">
                                <div class="eximg2">
                                    <img src="./img/ch.png" alt="상품 이미지">
                                </div>
                                <div class="Pinf2">
                                    <p>상품번호<br> 123456</p>
                                    <p>상품명<br> 치킨</p>
                                </div>
                            </data>
                        </td>
                        <td>
                            <data value="">배송이 빠릅니다. 잘사용하겠습니다.</data>
                        </td>
                        <td>
                            <data value=""><span class="star">★ ★ ★ ★</span><span class="gray-star"> ★</span></data>
                        </td>
                        <td>
                            <data value="">2022-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr3">
                        <td>
                            <data value="">8</data>
                        </td>
                        <td>
                            <data value="">
                                <div class="eximg2">
                                    <img src="./img/ch.png" alt="상품 이미지">
                                </div>
                                <div class="Pinf2">
                                    <p>상품번호<br> 123456</p>
                                    <p>상품명<br> 치킨</p>
                                </div>
                            </data>
                        </td>
                        <td>
                            <data value="">배송이 빠릅니다. 잘사용하겠습니다.</data>
                        </td>
                        <td>
                            <data value=""><span class="star">★ ★ ★ ★</span><span class="gray-star"> ★</span></data>
                        </td>
                        <td>
                            <data value="">2022-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr3">
                        <td>
                            <data value="">9</data>
                        </td>
                        <td>
                            <data value="">
                                <div class="eximg2">
                                    <img src="./img/ch.png" alt="상품 이미지">
                                </div>
                                <div class="Pinf2">
                                    <p>상품번호<br> 123456</p>
                                    <p>상품명<br> 치킨</p>
                                </div>
                            </data>
                        </td>
                        <td>
                            <data value="">배송이 빠릅니다. 잘사용하겠습니다.</data>
                        </td>
                        <td>
                            <data value=""><span class="star">★ ★ ★ ★</span><span class="gray-star"> ★</span></data>
                        </td>
                        <td>
                            <data value="">2022-12-10</data>
                        </td>
                    </tr>
                    <tr class="tr3">
                        <td>
                            <data value="">10</data>
                        </td>
                        <td>
                            <data value="">
                                <div class="eximg2">
                                    <img src="./img/ch.png" alt="상품 이미지">
                                </div>
                                <div class="Pinf2">
                                    <p>상품번호<br> 123456</p>
                                    <p>상품명<br> 치킨</p>
                                </div>
                            </data>
                        </td>
                        <td>
                            <data value="">배송이 빠릅니다. 잘사용하겠습니다.</data>
                        </td>
                        <td>
                            <data value=""><span class="star">★ ★ ★ ★</span><span class="gray-star"> ★</span></data>
                        </td>
                        <td>
                            <data value="">2022-12-10</data>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <article class="paging">
            <p>
                <!-- 이전 페이지 링크 -->
                <!-- <th:block th:if="${pageResponseDTO.prev}"> -->
                <a href="/admin/product/list?pg=${pageResponseDTO.start-1}"> < </a>
                <!-- </th:block> -->

                <!-- 페이지 번호 목록 -->
                <!-- <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}"> -->
                <a href="/admin/product/list?pg=1" class="num">[1]</a>
                <a href="/admin/product/list?pg=2" class="num">[2]</a>
                <a href="/admin/product/list?pg=3" class="num current">[3]</a>
                <a href="/admin/product/list?pg=4" class="num">[4]</a>
                <a href="/admin/product/list?pg=5" class="num">[5]</a>
                <!-- </th:block> -->

                <!-- 다음 페이지 링크 -->
                <!-- <th:block th:if="${pageResponseDTO.next}"> -->
                <a href="/admin/product/list?pg=${pageResponseDTO.end+1}"> > </a>
                <!-- </th:block> -->
            </p>

        </article>
    </div>
</main>
</th:block>