<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/csLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn</title>
    <link rel="stylesheet"  th:href="@{/css/cs/noticeList.css}">

</head>
<body>
<th:block layout:fragment="content">
    <th:block th:replace="~{aside/noticeAside}"></th:block>

    <div  id="service">
                <div class="title">
                    <h2>전체</h2>
                    <p>공지사항 전체 내용 입니다.</p>
                </div>
                <div class="article-div">
                    <table class="article-list">
                        <colgroup>
                            <col style="width: 8%;">
                            <col style="width: 74%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <!-- 게시물 리스트 헤더 -->
                        <thead>
                        <tr>
                            <th class="article-number">번호</th>
                            <th class="article-content">제목</th>
                            <th class="article-date">날짜</th>
                        </tr>
                        </thead>

                        <!-- 게시물 리스트 내용 -->
                        <tbody>
                        <tr>
                            <td class="article-number">1</td>
                            <td class="article-content">
                                <a href="#">[안내] 해외결제 사칭 문자주의해외결제 사칭 문자주의해외결제 사칭 문자주의해외결제 사칭 문자주의해외결제 사칭...</a>
                            </td>
                            <td class="article-date">00.00.00</td>
                        </tr>
                        <tr>
                            <td class="article-number">2</td>
                            <td class="article-content">
                                <a href="#">[안내] 해외결제 사칭 문자주의해외결제 사칭 문자주의해외결제 사칭 문자주의해외결제 사칭 문자주의해외결제 사칭...</a>
                            </td>
                            <td class="article-date">00.00.00</td>
                        </tr>
                        <tr>
                            <td class="article-number">3</td>
                            <td class="article-content">
                                <a href="#">[안내] 해외결제 사칭 문자주의해외결제 사칭 문자주의해외결제 사칭 문자주의해외결제 사칭 문자주의해외결제 사칭...</a>
                            </td>
                            <td class="article-date">00.00.00</td>
                        </tr>
                        <tr>
                            <td class="article-number">4</td>
                            <td class="article-content">
                                <a href="#">[안내] 해외결제 사칭 문자주의해외결제 사칭 문자주의해외결제 사칭 문자주의해외결제 사칭 문자주의해외결제 사칭...</a>
                            </td>
                            <td class="article-date">00.00.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <a href="#">이전</a>
                    <a href="">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="#">다음</a>
                </div>
            </div>
</th:block>



