<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/csLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn</title>
    <link rel="stylesheet" th:href="@{/css/cs/qnaview.css}">

</head>
<body>
<th:block layout:fragment="content">
    <th:block th:replace="~{aside/qnaAside}"></th:block>
    <div id="service">
        <div class="title">
            <h2>회원</h2>
            <p>회원 관련 자주 묻는 질문입니다.</p>
        </div>

        <div class="qna-section">

            <table class="qna-table">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: 750px">
                </colgroup>
                <tr>
                    <th colspan="2" class="signup-title">[가입] 가입 문의 내용
                        <div class="qinfo-container">
                            <span class="qinfo-label">wjdwlgus****</span>
                            <span class="qinfo-label">2024-11-21</span>
                        </div>
                    </th>
                </tr>

                <tr>
                    <td class="qcontent-label">내용</td>
                    <td>회원가입 하고 싶어요. 어떻게 해야 하나요?</td>
                </tr>
                <tr>
                    <th colspan="2">▶[답변] 가입 문의 내용</th>
                </tr>
                <tr>
                    <td class="acontent-label">답변</td>
                    <td>안녕하세요. 회원님 회원가입 하시면 됩니다.</td>
                </tr>
            </table>

            <div class="button-section">
                <button class="list-btn">목록</button>
            </div>
        </div>
    </div>
</th:block>
</body>