<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/policyLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn</title>


</head>
<body>
<th:block layout:fragment="content">
    <main class="main_content">
    <div class="header-title">
        <h2>LotteON 서비스 이용약관</h2>
        <div class="print-image">
            <a href="javascript:void(0);" onclick="window.print();">
                <img src="/images/policy/print1.png" alt="프린트">
            </a>
        </div>
    </div>

    <section class="terms">
        <h2>구매회원 약관</h2>
        <div class="image-row">
            <!-- 각 이미지에 링크 추가 -->
            <div class="image-container">
                <a th:href="@{/policy/buyer}">
                    <img src="/images/policy/buyer.png" alt="구매회원 약관">
                </a>
                <p>구매회원 약관</p>
            </div>
            <div class="image-container">
                <a th:href="@{/policy/seller}">
                    <img src="/images/policy/seller.png" alt="판매회원 약관">
                </a>
                <p>판매회원 약관</p>
            </div>
            <div class="image-container">
                <a th:href="@{/policy/finance}">
                    <img src="/images/policy/finance.png" alt="전자금융거래">
                </a>
                <p>전자금융거래</p>
            </div>
            <div class="image-container">
                <a th:href="@{/policy/location}">
                    <img src="/images/policy/location.png" alt="위치정보 약관">
                </a>
                <p>위치정보 약관</p>
            </div>
            <div class="image-container">
                <a th:href="@{/policy/privacy}">
                    <img src="/images/policy/persnal.png" alt="개인정보처리">
                </a>
                <p>개인정보처리</p>
            </div>
        </div>
    </section>

    <div class="content">
        <section class="articles">
            <h3>제 1 조 (목적)</h3>
            <p>본 약관은 롯데쇼핑㈜(이하 "회사"라 함)가 운영하는 사이트, 온라인 쇼핑몰 및 매장에서 제공하는 관련 서비스(모바일 및 인터넷 관련 서비스 포함, 이하 “서비스”라 함)를 이용함에
                있어 회사와 회사의 서비스를 이용하는 자간의 권리 의무 및 책임 사항을 규정하는데 목적이 있습니다.</p>
            <p>※ [참고] 본 약관이 적용되는 사이트 및 매장 자세히 보기</p>
            <p>(단, 제공 서비스에 따라 개별약관 동의가 필요할 수 있으며, 개별약관을 우선하여 적용합니다.)<br></p>

            <h3>제 2 조 (용어의 정의)</h3>
            <p>약관의 내용은 법률에 따라 변경될 수 있습니다.</p>

            <h3>제 3 조 (약관의 효력)</h3>
            <p>약관은 사이트에 게시함으로써 효력을 발생합니다.</p>

            <h3>제 4 조 (약관의 해석)</h3>
            <p>약관의 해석에 관한 사항은 관련 법령 및 상관습에 따릅니다.</p>

            <h3>제 5 조 (기타)</h3>
            <p>기타 사항은 관련 법령에 따릅니다.</p>
        </section>
    </div>
</main>
</th:block>