<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin::FAQ</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminfaqlist.css}">

</head>
<body>
<th:block layout:fragment="content">
                <div id="admin_service">
                    <section>
                        <th:block th:replace="~{content/admin/admin_gate}"></th:block>

                        <section id="admin_navi">
                            <p>고객센터</p>
                            <p>
                                <a href="#">HOME</a>
                                <span>></span>
                                <a href="#">고객센터</a>
                                <span>></span>
                                <a href="#">자주묻는질문</a>
                            </p>
                        </section>
                
                        <article id="admin_faq_list">
                        <div>
                            <table class="admin_faq_list_table">
                                <colgroup>
                                    <col style="width: 7.5%">
                                    <col style="width: 7.5%">
                                    <col style="width: 10%">
                                    <col style="width: 10%">
                                    <col style="width: 30%">
                                    <col style="width: 10%">
                                    <col style="width: 15%">
                                    <col style="width: 10%">
                                </colgroup>
                                <div>
                                <select class="faqselect" >
                                    <option value="" disabled selected>1차 선택</option>
                                    <option value="">주문번호</option>
                                    <option value="">주문자</option>
                                    <option value="">주문자명</option>
                                </select>
                                <select class="faqselect" >
                                    <option value="" disabled selected>2차 선택</option>
                                    <option value="">주문번호</option>
                                    <option value="">주문자</option>
                                    <option value="">주문자명</option>
                                </select>
                                </div>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>번호</th>
                                    <th>1차유형</th>
                                    <th>2차유형</th>
                                    <th>제목</th>
                                    <th>조회</th>
                                    <th>날짜</th>
                                    <th>관리</th>
                                </tr>
                                <tr th:each="faq : ${faqDTOs}">
                                    <td><input type="checkbox"></td>
                                    <td th:text="${faq.faqNo}">1</td>
                                    <td th:text="${faq.faqtype1}" id="faqtype1">가입문의</td>
                                    <td th:text="${faq.faqtype2}" id="faqtype2">가입</td>
                                    <td>
                                        <a th:href="@{/admin/faq/view(no=${faq.faqNo})}" th:text="${faq.faqtitle}"></a>
                                    </td>
                                    <td th:text="${faq.faqhit}">300</td>
                                    <td>[[${#strings.substring(faq.date,0,10)}]]</td>
                                    <td>
                                            <a href="#">[삭제]</a><br>
                                            <a th:href="@{/admin/faq/modify(no=${faq.faqNo})}">[수정]</a>
                                    </td>
                                </tr>
                            </table>
                        </article>
                        <div class="list_button">
                            <button>선택삭제</button>
                            <button><a th:href="@{/admin/faq/write}">작성하기</a></button>
                        </div>
                    </section>

</th:block>
