<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/marketLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn</title>
    <link rel="stylesheet" th:href="@{/css/market/marketview.css}">
    <link rel="stylesheet" th:href="@{/css/market/marketAside.css}">


</head>
<body>
<th:block layout:fragment="content">
    <th:block th:replace="~{aside/marketAside}"></th:block>
                    <section class="section view">
                        <div class="sectionWrapper">
                            <div class="sub_tit">
                                <h3 id="h3_list">상품보기</h3>
                                <div class="location">
                                    <span><a href="">홈&nbsp;</a></span>
                                    <span>패션·의류·뷰티&nbsp;</span>
                                    <span><strong>남성의류&nbsp;</strong></span>
                                </div>
                            </div>
                            <!-- Product Information Section -->
                            <div class="product-info-container">
                                <!-- Product Image -->
                                <div class="product-image">
                                    <img src="/images/sample/productsmaple1.jfif" alt="상품 이미지">
                                </div>

                                <!-- Product Details -->
                                <div class="product-details">
                                    <div class="seller-name">
                                        <span>상호명</span>
                                        <p class="product-code">상품번호: 10101118412</p>
                                    </div>
                                    <div class="product-name">
                                        <!-- active시 빨간색 바뀜 -->
                                        <h4 class="prodName">상품명<a href=""><img class="heart active"
                                                    src="/images/common/icon_heart_black.svg" alt="찜하트"></a></h4>
                                        <div class="rating-and-reivew">
                                            <span class="rating">⭐⭐⭐⭐⭐</span>
                                            <span class="review">상품평보기</span>
                                        </div>
                                    </div>

                                    <div class="pricing">
                                        <div>
                                            <span class="original-price">30,000원</span>
                                            <span class="discount">10% ↓</span>
                                        </div>
                                        <span class="final-price">27,000원</span>
                                    </div>
                                    <div class="delivery">
                                        <span class="shipping">무료배송</span>
                                        <p class="delivery-info">모레 (금) 7/8 도착예정</p>
                                    </div>
                                    <span name="Domestic" class="deli active">본 상품은 국내배송만 가능합니다.</span>
                                    <span name="global" class="deli hidden">본 상품은 국내배송만 가능합니다.</span>
                                    <div class="credit">
                                        <span><img src="/images/common/icon_creditcard.png" alt="무이자할부">무이자할부</span>
                                        <span><img src="/images/common/icon_card_add.jfif" alt="카드추가혜택">카드추가혜택</span>
                                    </div>
                                    <div class="product_origin">
                                        <span>원산지 - 상세설명 참조</span>

                                    </div>
                                    <div class="purchase-options">
                                        <div>
                                            <select name="option" id="size">
                                                <option disabled selected>옵션을 선택하세요</option>
                                                <option value="77">77size</option>
                                                <option value="66">66size</option>
                                                <option value="55">55size</option>
                                                <option value="44">44size</option>
                                            </select>
                                        </div>


                                    </div>
                                    <div class="total">
                                        <div class="quantity-control">
                                            <button type="button" id="decrease">-</button>
                                            <input type="number" id="quantity" value="1" min="1">
                                            <button type="button" id="increase">+</button>
                                        </div>
                                        <div class="total-price">총 상품금액: 27,000원</div>
                                    </div>

                                    <div class="buttons">
                                        <button class="add-to-cart">장바구니</button>
                                        <button class="buy-now">구매하기</button>
                                    </div>
                                </div>
                            </div>

                            <!-- Product Description Section -->
                            <div class="product-description">
                                <h3>
                                    <span class="active"><a href="#product_info">상품정보</a></span>
                                    <span class=""><a href="#public-info">정보공시</a></span>
                                    <span class=""><a href="#product_review">상품리뷰</a></span>
                                    <span class=""><a href="#product_qna">Q&A</a></span>
                                </h3>
                                <div class="description-image" id="product_info">
                                    <span>상품정보</span>
                                    <img src="your-description-image.jpg" alt="상품 설명 이미지">
                                </div>
                                <div class="product_guide" id="public-info">
                                    <span>상품정보 제공고시<p>[ 전자상거래에 관한 상품정보 제공에 관한 고시 ] 항목에 의거 등록된 정보입니다.</p></span>
                                    <table class="guide">
                                        <tr>
                                            <th>상품번호</th>
                                            <td>10010118412</td>
                                        </tr>
                                        <tr>
                                            <th>상품상태</th>
                                            <td>10010118412</td>
                                        </tr>
                                        <tr>
                                            <th>부가세면세여부</th>
                                            <td>10010118412</td>
                                        </tr>
                                        <tr>
                                            <th>영수증발행</th>
                                            <td>10010118412</td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <th>사업자구분</th>
                                            <td>상세정보 직접입력</td>
                                        </tr>
                                        <tr>
                                            <th>브랜드</th>
                                            <td>상세정보 직접입력</td>
                                        </tr>
                                        <tr>
                                            <th>원산지</th>
                                            <td>상세정보 직접입력</td>
                                        </tr>
                                        <tr>
                                            <th>제조사/수입국</th>
                                            <td>상세정보 직접입력</td>
                                        </tr>
                                        <tr>
                                            <th>취급시주의사항</th>
                                            <td>상세정보 직접입력</td>
                                        </tr>
                                        <tr>
                                            <th>제조연일</th>
                                            <td>상세정보 직접입력</td>
                                        </tr>
                                        <tr>
                                            <th>품질보증기준</th>
                                            <td>상세정보 직접입력</td>
                                        </tr>
                                        <tr>
                                            <th>A/S 책임자</th>
                                            <td>상세정보 직접입력</td>
                                        </tr>
                                        <tr>
                                            <th>전화번호</th>
                                            <td>상세정보 직접입력</td>
                                        </tr>

                                    </table>
                                    <div class="gov_description">
                                        <p>
                                            소비자가 전자상거래등에 소비자 보호에 관한 법률 제 17조 제 1 항 또는 제 3 항에 따라 청약철회를 하고 동 법 제 18조 제 1
                                            항에 따라 청약철회한 물품을 판매자에게 반환하였음에도 불구하고 결제 대금의 환급이 3영업일을 넘게 지연된 경우, 소비자는 전자상거래
                                            등에서 소비자보호에 관한 법률 제 18조 제2 항 및 동 법 시행령 제 21 조 2에 따라 지연일수에 대하여 전자상거래법 시행령으로
                                            정하는 이율을 곱하여 산정한 지연이자("지연배상금")을 신청할 수 있습니다.
                                            아울러, 교환반품보증 및 결제 대금의 환급신층은 [나의쇼핑정보]에서 확인하실 수 있으며, 자세한 문의는 개별 판매자에게 연락하여 주시기
                                            바랍니다.
                                        </p>
                                    </div>
                                </div>

                                <div class="product_review" id="product_review">
                                    <h4>상품리뷰</h4>

                                    <div class="reviewimgs">
                                        <div class="review-image-container">
                                            <div class="arrow left" id="leftArrow">&#9664;</div>
                                            <div class="review-image-wrapper">
                                                <div class="review-images" id="reviewImages">
                                                    <div class="reviewImg"><img src="" alt=""></div>
                                                    <div class="reviewImg"><img src="" alt=""></div>
                                                    <div class="reviewImg"><img src="" alt=""></div>
                                                    <div class="reviewImg"><img src="" alt=""></div>
                                                    <div class="reviewImg"><img src="" alt=""></div>
                                                    <div class="reviewImg"><img src="" alt=""></div>
                                                    <div class="reviewImg"><img src="" alt=""></div>
                                                    <div class="reviewImg"><img src="" alt=""></div>
                                                    <div class="reviewImg"><img src="" alt=""></div>
                                                </div>
                                            </div>
                                            <div class="arrow right" id="rightArrow">&#9654;</div>
                                        </div>
                                    </div>
                                    <div class="reviewList" id="reviewContent">
                                        <article class="p-review">
                                            <div class="review-header">
                                                <div class="review-rating">
                                                    ⭐⭐⭐⭐⭐
                                                </div>
                                                <div class="reviewer-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="review-body">
                                                <h5>상품명</h5>
                                                <div>
                                                    <div class="rimg"><img src="" alt="review-image" class="review_img"></div>
                                                    <p class="review-text">
                                                        가격대비정 말괜찮 은 옷이라 생각되네요 핏은... 제기억기 엔 어깨선이 맞고 루즈핏 이라하기도 좀힘드네요 . 아주약간
                                                        루즈한정도 ... 그래도이 만한 옷은없다고 봅니다 깨끗하고포장도 괜찮고다음에도여기서판매하는 제품을구매하고 싶네요정 말만족
                                                        하고후기 남깁니다많이파시길바래요 ~~~
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="p-review">
                                            <div class="review-header">
                                                <div class="review-rating">
                                                    ⭐⭐⭐⭐⭐
                                                </div>
                                                <div class="reviewer-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="review-body">
                                                <h5>상품명</h5>
                                                <p class="review-text">
                                                    가격대비정 말괜찮 은 옷이라 생각되네요 핏은... 제기억기 엔 어깨선이 맞고 루즈핏 이라하기도 좀힘드네요 . 아주약간
                                                    루즈한정도 ... 그래도이 만한 옷은없다고 봅니다 깨끗하고포장도 괜찮고다음에도여기서판매하는 제품을구매하고 싶네요정 말만족
                                                    하고후기 남깁니다많이파시길바래요 ~~~
                                                </p>
                                            </div>
                                        </article>
                                        <article class="p-review">
                                            <div class="review-header">
                                                <div class="review-rating">
                                                    ⭐⭐⭐⭐⭐
                                                </div>
                                                <div class="reviewer-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="review-body">
                                                <h5>상품명</h5>
                                                <p class="review-text">
                                                    가격대비정 말괜찮 은 옷이라 생각되네요 핏은... 제기억기 엔 어깨선이 맞고 루즈핏 이라하기도 좀힘드네요 . 아주약간
                                                    루즈한정도 ... 그래도이 만한 옷은없다고 봅니다 깨끗하고포장도 괜찮고다음에도여기서판매하는 제품을구매하고 싶네요정 말만족
                                                    하고후기 남깁니다많이파시길바래요 ~~~
                                                </p>
                                            </div>
                                        </article>
                                        <article class="p-review">
                                            <div class="review-header">
                                                <div class="review-rating">
                                                    ⭐⭐⭐⭐⭐
                                                </div>
                                                <div class="reviewer-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="review-body">
                                                <h5>상품명</h5>
                                                <p class="review-text">
                                                    가격대비정 말괜찮 은 옷이라 생각되네요 핏은... 제기억기 엔 어깨선이 맞고 루즈핏 이라하기도 좀힘드네요 . 아주약간
                                                    루즈한정도 ... 그래도이 만한 옷은없다고 봅니다 깨끗하고포장도 괜찮고다음에도여기서판매하는 제품을구매하고 싶네요정 말만족
                                                    하고후기 남깁니다많이파시길바래요 ~~~
                                                </p>
                                            </div>
                                        </article>
                                        <article class="p-review">
                                            <div class="review-header">
                                                <div class="review-rating">
                                                    ⭐⭐⭐⭐⭐
                                                </div>
                                                <div class="reviewer-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="review-body">
                                                <h5>상품명</h5>
                                                <p class="review-text">
                                                    가격대비정 말괜찮 은 옷이라 생각되네요 핏은... 제기억기 엔 어깨선이 맞고 루즈핏 이라하기도 좀힘드네요 . 아주약간
                                                    루즈한정도 ... 그래도이 만한 옷은없다고 봅니다 깨끗하고포장도 괜찮고다음에도여기서판매하는 제품을구매하고 싶네요정 말만족
                                                    하고후기 남깁니다많이파시길바래요 ~~~
                                                </p>
                                            </div>
                                        </article>
                                        <article class="p-review">
                                            <div class="review-header">
                                                <div class="review-rating">
                                                    ⭐⭐⭐⭐⭐
                                                </div>
                                                <div class="reviewer-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="review-body">
                                                <h5>상품명</h5>
                                                <p class="review-text">
                                                    가격대비정 말괜찮 은 옷이라 생각되네요 핏은... 제기억기 엔 어깨선이 맞고 루즈핏 이라하기도 좀힘드네요 . 아주약간
                                                    루즈한정도 ... 그래도이 만한 옷은없다고 봅니다 깨끗하고포장도 괜찮고다음에도여기서판매하는 제품을구매하고 싶네요정 말만족
                                                    하고후기 남깁니다많이파시길바래요 ~~~
                                                </p>
                                            </div>
                                        </article>
                                        <!-- 리뷰 더보기 버튼 -->
                                        <div class="btnwrapper"><button id="moreReviewsBtn">더보기</button></div>


                                        <div class="pagination" id="reviews-pagination">
                                            <span class="page-link active" data-page="1">1</span>
                                            <span class="page-link" data-page="2">2</span>
                                            <span class="page-link" data-page="3">3</span>
                                        </div>

                                    </div><!--reviewList end-->

                                </div><!--product_review-->
                                <div class="product_qna" id="product_qna">
                                    <h4>상품문의</h4>
                                    <div class="qna_Lists">
                                        <article class="p-qna">
                                            <div class="qna-header">
                                                <h5>
                                                    <p>[문의항목]</p>문의제목
                                                </h5>
                                                <div class="qna-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="qna-body">

                                                <p class="qna-text">
                                                    가격대비정 말괜찮 은 옷이라 생각되네요 핏은... 제기억기 엔 어깨선이 맞고 루즈핏 이라하기도 좀힘드네요 . 아주약간
                                                    루즈한정도 ... 그래도이 만한 옷은없다고 봅니다 깨끗하고포장도 괜찮고다음에도여기서판매하는 제품을구매하고 싶네요정 말만족
                                                    하고후기 남깁니다많이파시길바래요 ~~~
                                                </p>
                                            </div>
                                        </article>

                                        <article class="p-qna">
                                            <div class="qna-header">
                                                <h5>
                                                    <p>[문의항목]</p>문의제목
                                                </h5>
                                                <div class="qna-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="qna-body">

                                                <p class="qna-text">
                                                    비공개입니다. </p>
                                            </div>
                                        </article>
                                        <article class="p-qna">
                                            <div class="qna-header">
                                                <h5>
                                                    <p>[문의항목]</p>문의제목
                                                </h5>
                                                <div class="qna-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="qna-body">

                                                <p class="qna-text">
                                                    비공개입니다. </p>
                                            </div>
                                        </article>
                                        <article class="p-qna">
                                            <div class="qna-header">
                                                <h5>
                                                    <p>[문의항목]</p>문의제목
                                                </h5>
                                                <div class="qna-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="qna-body">

                                                <p class="qna-text">
                                                    비공개입니다. </p>
                                            </div>
                                        </article>
                                        <article class="p-qna">
                                            <div class="qna-header">
                                                <h5>
                                                    <p>[문의항목]</p>문의제목
                                                </h5>
                                                <div class="qna-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="qna-body">

                                                <p class="qna-text">
                                                    비공개입니다. </p>
                                            </div>
                                        </article>
                                        <article class="p-qna">
                                            <div class="qna-header">
                                                <h5>
                                                    <p>[문의항목]</p>문의제목
                                                </h5>
                                                <div class="qna-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="qna-body">

                                                <p class="qna-text">
                                                    비공개입니다. </p>
                                            </div>
                                        </article>
                                        <article class="p-qna">
                                            <div class="qna-header">
                                                <h5>
                                                    <p>[문의항목]</p>문의제목
                                                </h5>
                                                <div class="qna-info">
                                                    <span class="reviewer-name">seo******</span>
                                                    <span class="review-date">2018-07-10</span>
                                                </div>
                                            </div>
                                            <div class="qna-body">

                                                <p class="qna-text">
                                                    비공개입니다. </p>
                                            </div>
                                        </article>

                                    </div>
                                    <!-- 리뷰 더보기 버튼 -->
                                    <div class="btnwrapper"><button id="moreQnaBtn">더보기</button></div>


                                    <div class="pagination" id="qna-pagination">
                                        <span class="page-link active" data-page="1">1</span>
                                        <span class="page-link" data-page="2">2</span>
                                        <span class="page-link" data-page="3">3</span>
                                    </div>
                                </div>


                            </div>


                        </div><!--sectionWrapper-->
                    </section>


</th:block>
