<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/marketLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn</title>
    <link  rel="stylesheet" th:href="@{/css/market/marketCart.css}">


</head>
<body>
<th:block layout:fragment="content">
<section class="section cart">
    <div class="sectionWrapper">
        <div class="sub_tit">
            <h3 id="h3_list">장바구니</h3>
            <div class="location">
                <span><a href="">홈&nbsp;</a></span>
                <span>나의쇼핑정보&nbsp;</span>
                <span><strong>장바구니&nbsp;</strong></span>
            </div>
        </div>

        <!-- 장바구니 table -->
        <form action="#" id="product_cart">

            <table class="productCart">
                <colgroup>
                    <col style="width: 2%;">
                    <col style="width: 45%;">
                    <col style="width: 15%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 8%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                </colgroup>

                <tr>
                    <th><input type="checkbox" id="checkBoxAll" name="select" ></th>
                    <th>상품</th>
                    <th>수량</th>
                    <th>판매가</th>
                    <th>할인</th>
                    <th>포인트</th>
                    <th>배송비</th>
                    <th>총합</th>
                </tr>
                <!-- 반복부분 -->
                <tr th:each="item : ${CartItems}">
                    <td><input type="checkbox" name="select"></td>
                    <td>
                        <div>
                            <img th:src="${item.imageUrl}" alt="">
                        </div>
                        <div>
                            <span th:text="${item.proName}">상품명</span>
                            <p class="product_option" th:text="${item.option}">[ 옵션 ]</p>
                        </div>
                    </td>
                    <td>
                        <div class="qnt">
                            <input type="number" name="quantity" th:value="${item.stock}" min="1" readonly>
                            <div class="countModify">
                                <a class="countModifyBtn" href="#">수정하기</a>
                                <div class="number-controls" style="display: none;">
                                    <button type="button" class="qnt-decrease">-</button>
                                    <input type="number" class="quantity-input" value="1">
                                    <button type="button" class="qnt-increase">+</button>
                                </div>
                            </div>
                            <div class="edit-buttons" style="display: none;">
                                <button type="button" class="apply-btn">변경하기</button>
                                <button type="button" class="cancel-btn">취소</button>
                            </div>
                        </div>
                    </td>
                    <td th:text="${item.price}">판매가</td>
                    <td th:text="${item.discount}">할인</td>
                    <td th:text="${item.point}">포인트</td>
                    <td th:text="${item.deliveryFee}">배송비</td>
                    <td th:text="${item.totalPrice}">총합</td>
                </tr>




            </table>
            <div class="btn-group">
                <button class="selected-delete" >선택삭제</button>
                <div class="orderbtn">
                    <button class="selected-order">선택주문</button>
                    <button class="selected-all">전체선택</button>
                </div>

            </div>

        </form>
    </div><!--sectionWrapper-->
</section>

<aside class="cartOrder_window">
    <form class="cartOrderAsideWrapper">
        <h3>전체합계 </h3>
        <div class="orderQnt">
            <label for="">상품수</label>
            <span>0</span>
        </div>
        <div class="orderOriginPrice">
            <label for="">상품금액</label>
            <span class="price">0</span>
        </div>
        <div class="orderSalePrice">
            <label for="">할인금액</label>
            <span  class="price">-0</span>
        </div>
        <div class="delivery-fee">
            <label for="">배송비</label>
            <span  class="price">0</span>
        </div>
        <div class="orderTotalPrice">
            <label for="">전체 주문금액</label>
            <span class="price">0</span>
        </div>
        <div class="orderPoint">
            <label for="">적립예정포인트</label>
            <span  class="price">0</span>
        </div>
        <div class="orderBtn">
            <button type="submit" class="order-Btn">주문하기</button>
        </div>
    </form>
</aside>

    <script  th:src="@{/js/marketcart.js}"></script>
</th:block>