<main id="content" role="main" class="mainArea" style="padding-top: 5px;">
    <div data-v-070acba7 class="mainWrapper">
        <section class="section list">
            <div class="sectionWrapper">
                    <span class="subTit">

                    </span>
                <div class="slider-container">
                    <div class="slider-wrapper">
                        <div class="slide"><img src="/images/sample/81769151530.jpg" alt="Slide 1"></div>
                        <div class="slide"><img src="/images/sample/81769152668.jpg" alt="Slide 1"></div>
                        <div class="slide"><img src="/images/sample/81769150908.jpg" alt="Slide 2"></div>
                        <div class="slide"><img src="/images/sample/81769155515.jpg" alt="Slide 2"></div>
                        <div class="slide"><img src="/images/sample/81749295784.jpg" alt="Slide 3"></div>
                        <div class="slide"><img src="/images/sample/81749295758.jpg" alt="Slide 3"></div>
                    </div>
                    <div class="slider-navigation">
                        <button class="prev">❮</button>
                        <button class="next">❯</button>
                    </div>
                    <div class="slider-pagination">
                        <!--동적으로 dot 생성
                         <span class="dot"></span> -->

                    </div>

                </div>
                <section class="hitProduct" id="hitProduct">
                    <h2>히트상품</h2>

                    <div class="hit-products-slider">
                        <button class="prev-hit">❮</button>
                        <div class="hit-products-wrapper">
                            <div class="hit-product-item">
                                <div class="hit-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1"></div>
                                <div class="product-container">
                                    <div class="product-details">
                                        <span class="product-name">상품명</span>
                                        <div class="price-info">
                                            <span class="original-price">30,000원</span>
                                            <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                            <div class="product-icons">
                                                <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                     class="cart-icon">
                                                <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                     class="heart-icon">
                                            </div>
                                        </div>
                                        <span class="final-price">27,000원</span>
                                        <button class="shipping-label">무료배송</button>
                                    </div>
                                </div>
                            </div>
                            <!-- 추가 상품들 -->
                            <div class="hit-product-item">
                                <div class="hit-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1"></div>
                                <div class="product-container">
                                    <div class="product-details">
                                        <span class="product-name">상품명</span>
                                        <div class="price-info">
                                            <span class="original-price">30,000원</span>
                                            <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                            <div class="product-icons">
                                                <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                     class="cart-icon">
                                                <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                     class="heart-icon">
                                            </div>
                                        </div>
                                        <span class="final-price">27,000원</span>
                                        <button class="shipping-label">무료배송</button>
                                    </div>
                                </div>
                            </div>
                            <!-- 추가 상품들 -->
                            <div class="hit-product-item">
                                <div class="hit-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1"></div>
                                <div class="product-container">
                                    <div class="product-details">
                                        <span class="product-name">상품명</span>
                                        <div class="price-info">
                                            <span class="original-price">30,000원</span>
                                            <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                            <div class="product-icons">
                                                <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                     class="cart-icon">
                                                <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                     class="heart-icon">
                                            </div>
                                        </div>
                                        <span class="final-price">27,000원</span>
                                        <button class="shipping-label">무료배송</button>
                                    </div>
                                </div>
                            </div>
                            <!-- 추가 상품들 -->
                            <div class="hit-product-item">
                                <div class="hit-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1"></div>
                                <div class="product-container">
                                    <div class="product-details">
                                        <span class="product-name">상품명</span>
                                        <div class="price-info">
                                            <span class="original-price">30,000원</span>
                                            <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                            <div class="product-icons">
                                                <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                     class="cart-icon">
                                                <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                     class="heart-icon">
                                            </div>
                                        </div>
                                        <span class="final-price">27,000원</span>
                                        <button class="shipping-label">무료배송</button>
                                    </div>
                                </div>
                            </div>
                            <!-- 추가 상품들 -->
                            <div class="hit-product-item">
                                <div class="hit-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1"></div>
                                <div class="product-container">
                                    <div class="product-details">
                                        <span class="product-name">상품명</span>
                                        <div class="price-info">
                                            <span class="original-price">30,000원</span>
                                            <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                            <div class="product-icons">
                                                <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                     class="cart-icon">
                                                <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                     class="heart-icon">
                                            </div>
                                        </div>
                                        <span class="final-price">27,000원</span>
                                        <button class="shipping-label">무료배송</button>
                                    </div>
                                </div>
                            </div>
                            <!-- 추가 상품들 -->
                            <div class="hit-product-item">
                                <div class="hit-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1"></div>
                                <div class="product-container">
                                    <div class="product-details">
                                        <span class="product-name">상품명</span>
                                        <div class="price-info">
                                            <span class="original-price">30,000원</span>
                                            <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                            <div class="product-icons">
                                                <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                     class="cart-icon">
                                                <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                     class="heart-icon">
                                            </div>
                                        </div>
                                        <span class="final-price">27,000원</span>
                                        <button class="shipping-label">무료배송</button>
                                    </div>
                                </div>
                            </div>
                            <!-- 추가 상품들 -->
                            <div class="hit-product-item">
                                <div class="hit-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1"></div>
                                <div class="product-container">
                                    <div class="product-details">
                                        <span class="product-name">상품명</span>
                                        <div class="price-info">
                                            <span class="original-price">30,000원</span>
                                            <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                            <div class="product-icons">
                                                <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                     class="cart-icon">
                                                <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                     class="heart-icon">
                                            </div>
                                        </div>
                                        <span class="final-price">27,000원</span>
                                        <button class="shipping-label">무료배송</button>
                                    </div>
                                </div>
                            </div>
                            <!-- 추가 상품들 -->
                            <div class="hit-product-item">
                                <div class="hit-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1"></div>
                                <div class="product-container">
                                    <div class="product-details">
                                        <span class="product-name">상품명</span>
                                        <div class="price-info">
                                            <span class="original-price">30,000원</span>
                                            <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                            <div class="product-icons">
                                                <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                     class="cart-icon">
                                                <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                     class="heart-icon">
                                            </div>
                                        </div>
                                        <span class="final-price">27,000원</span>
                                        <button class="shipping-label">무료배송</button>
                                    </div>
                                </div>
                            </div>
                            <!-- ...8개까지 추가 -->
                        </div>
                        <button class="next-hit">❯</button>
                    </div>
                </section>
                <section class="recommended-products" id="recommended-products">
                    <h2>추천상품</h2>
                    <div class="products-wrapper">
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <!-- 7 more products with the same structure -->
                        <!-- 상품이 8개여서 위와 같은 구조를 반복 -->
                    </div>
                </section>

                <section class="latest-products" id="latest-products">
                    <h2>최신상품</h2>
                    <div class="products-wrapper">
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-item-pimg"><img src="/images/sample/81769150908.jpg" alt="상품1">
                            </div>
                            <div class="product-container">
                                <div class="product-details">
                                    <span class="product-name">상품명</span>
                                    <div class="price-info">
                                        <span class="original-price">30,000원</span>
                                        <span class="discount">10% <span class="discount-arrow">↓</span></span>
                                        <div class="product-icons">
                                            <img src="/images/common/icon_cart_black.svg" alt="카트"
                                                 class="cart-icon">
                                            <img src="/images/common/ico_heart_black.svg" alt="찜"
                                                 class="heart-icon">
                                        </div>
                                    </div>
                                    <span class="final-price">27,000원</span>
                                    <button class="shipping-label">무료배송</button>
                                </div>
                            </div>
                        </div>


                        <!-- 7 more products with the same structure -->
                        <!-- 최신상품도 8개를 표시할 수 있도록 동일한 구조로 작성 -->
                    </div>
                </section>


            </div><!--sectionWrapper-->
        </section>

    </div>
    <div data-v-070acba7="" style="display: none;">
        <div data-v-daf2cc20="" data-v-070acba7="" class="loadingCircleArea"><img data-v-daf2cc20=""
                                                                                  src="https://static.lotteon.com/p/common/foCommon/assets/img/icon_common-graphic_loading.png"
                                                                                  alt="로딩중" class="loadingCircle"></div>
    </div>
</main>
