<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin::Notice</title>

</head>
<body>
<th:block layout:fragment="content">
                <div id="admin_service">
                    <section>
                        <th:block th:replace="~{content/admin/admin_gate}"></th:block>

                        <section id="admin_navi">
                            <p>관리자 메인</p>
                            <p><a href="#">HOME</a> > 관리자 메인</p>
                        </section>

                        <div class="admin-article-in">
                            <aside id="adminAside">

                            </aside>
                            <div class="article-box">
                                <div class="article-title">
                                    <select id="customer-service1" name="customer-service">
                                        <option value="service">고객 서비스</option>
                                        <option value="transaction">거래 관련</option>
                                        <option value="inquiry">문의하기</option>
                                        <option value="feedback">피드백</option>
                                    </select>
                                    <select id="customer-service2" name="customer-service">
                                        <option value="service">고객 서비스</option>
                                        <option value="transaction">거래 관련</option>
                                        <option value="inquiry">문의하기</option>
                                        <option value="feedback">피드백</option>
                                    </select>
                                </div>
                                <div class="article-list">
                                    <div class="article-header">
                                        <div class="checkboxes">
                                            <input type="checkbox" id="select-all">
                                        </div>
                                        <div class="number">번호</div>
                                        <div class="type">유형</div>
                                        <div class="type2">유형2</div>
                                        <div class="title">제목</div>
                                        <div class="views">조회</div>
                                        <div class="date">날짜</div>
                                        <div class="manage">관리</div>
                                    </div>
                                    <!-- 게시물 리스트 -->
                                    <div class="article-inlist">
                                        <div class="checkbox">
                                            <input type="checkbox" class="checkbox-item">
                                        </div>
                                        <div class="number">1</div>
                                        <div class="type">회원</div>
                                        <div class="type2">가입</div>
                                        <div class="title"><a th:href="@{/admin/notice/view(no=1)}">[롯데숏핑] 구매회원 이용약관 계정 안내 (시행일:
                                                0000년00월00일)</a>
                                        </div>
                                        <div class="views">100</div>
                                        <div class="date">2024.07.16</div>
                                        <div class="manage"><a th:href="@{/admin/notice/modify(no=1)}">수정</a> | <a
                                                href="/article/delete?no=1">삭제</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination">
                                    <a href="#">이전</a>
                                    <a href="#">다음</a>
                                </div>
                                <div class="button-ctl">
                                    <button class="btn-delete">선택삭제</button>
                                    <button class="btn-Write"><a th:href="@{/admin/notice/write}" style="text-decoration: none;">등록하기</a></button>
                                </div>
                            </div>
                        </div>
                    </section>
</th:block>
