/*첫번째 자주 묻는 질문*/
h2 {
    font-weight: bold;
    font-size: large;
    margin: 30px 40px 0px;
}

.first_list {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 7px;
    margin: 20px 40px;
}

.first_li {
    height: 50px;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.first_li:last-child {
    border-bottom: none;
}

.first_list li a {
    display: inline-block;
    margin: 15px 20px;
    font-weight: 500;
    font-size: 13px;
}

.first_li span {
    color: rgb(17, 86, 165);
    font-weight: bold;
}

.first_show {
    text-align: center;
}

/*hover 추가*/
.first_li a:hover {
    background: linear-gradient(to top, #ffe0e0 50%, transparent 50%);
}


/*두번째 자주 묻는 질문*/
.second_list {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 7px;
    margin: 20px 40px;
}

.second_li {
    height: 50px;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.second_li:last-child {
    border-bottom: none;
}

.second_list li a {
    display: inline-block;
    margin: 15px 20px;
    font-weight: 500;
    font-size: 13px;
}

.second_li span {
    color: rgb(17, 86, 165);
    font-weight: bold;
}

.second_show {
    text-align: center;
}

/*hover 추가*/
.second_li a:hover {
    background: linear-gradient(to top, #ffe0e0 50%, transparent 50%);
}