.article-div {
    width: 900px;
    height: auto;
    border-collapse: collapse;
    margin: 20px 40px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 8px;
}

.article-list {
    width: 100%;
    border-collapse: collapse;
    height: auto;
    box-sizing: border-box;
    text-indent: 20px;
}

.article-list thead {
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.article-list thead th {
    font-size: 16px;
}

.article-list td {
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 250px;
    border-bottom: 1px solid #ddd;
}

.article-list tr:last-child td {
    border-bottom: none;
}


.article-list td.article-date, .article-list td.article-number {
    text-align: center !important;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-grow: 1;
    padding-left: 100px;

}

.pagination .a {
    width: 10%;
    height: 10px;
    text-align: center;
    border: 1px solid #dddddd;
}



