<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn::Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin/shoplistmodal.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_delivery_modal.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin-modal.css}">
    <link rel="stylesheet"  th:href="@{/css/admin/adminOrder.css}">

</head>
<body>
<th:block layout:fragment="content">
            <div id="admin_service">
                <section>
                    <th:block th:replace="~{content/admin/admin_gate}"></th:block>
                    <section id="admin_navi">
                        <p>주문현황</p>
                        <p><a href="#">HOME</a> > 주문관리 > 주문현황</p>
                     </section>
              
                <article id="admin_order_main">
                
                    <table class="admin_order_table">
                        <colgroup>
                            <col style="width: 14%">
                            <col style="width: 8%">
                            <col style="width: 8%">
                            <col style="width: 12%">
                            <col style="width: 6%">
                            <col style="width: 10%">
                            <col style="width: 8%">
                            <col style="width: 8%">
                            <col style="width: 17%">
                            <col style="width: 9%">
                        </colgroup>
                        <div>
                        <select id="ordersearch" >
                            <option value="">주문번호</option>
                            <option value="">주문자</option>
                            <option value="">주문자명</option>
                        </select>
                        <input id="search" type="text" placeholder="검색어 입력">
                        <button id="serachbtn" type="button">검색</button>
                        </div>
                        <tr>
                            <th>주문번호</th>
                            <th>주문자</th>
                            <th>주문자명</th>
                            <th>상품명</th>
                            <th>주문건수</th>
                            <th>주문합계</th>
                            <th>결제수단</th>
                            <th>주문상태</th>
                            <th>주문일</th>
                            <th>배송</th>
                        </tr>
                        <tr>
                            <td><a class="order-modal-btn">10101212121</a></td>
                            <td>wlgus5946</td>
                            <td>챱챱김</td>
                            <td>초코틴틴</td>
                            <td>896</td>
                            <td>9,000</td>
                            <td>신용카드</td>
                            <td>결제완료</td>
                            <td>2024-12-15 12:00:00</td>
                            <td><button class="openModalBtn">배송하기</button></td>
                        </tr>
                        <tr>
                            <td><a class="order-modal-btn">101012121</a></td>
                            <td>wlgus5946</td>
                            <td>챱챱김</td>
                            <td>신당동 장독대에 빠진 떡볶이</td>
                            <td>3</td>
                            <td>9,000</td>
                            <td>신용카드</td>
                            <td>결제완료</td>
                            <td>2024-12-15 12:00:00</td>
                            <td><button class="openModalBtn">배송하기</button></td>
                        </tr>
                        <tr>
                            <td><a class="order-modal-btn">101012121</a></td>
                            <td>wlgus5946</td>
                            <td>챱챱김</td>
                            <td>초코틴틴</td>
                            <td>3</td>
                            <td>9,000</td>
                            <td>신용카드</td>
                            <td>결제완료</td>
                            <td>2024-12-15 12:00:00</td>
                            <td><button class="openModalBtn">배송하기</button></td>
                        </tr>
                        <tr>
                            <td><a class="order-modal-btn">101012121</a></td>
                            <td>wlgus5946</td>
                            <td>챱챱김</td>
                            <td>초코틴틴</td>
                            <td>3</td>
                            <td>9,000</td>
                            <td>신용카드</td>
                            <td>결제완료</td>
                            <td>2024-12-15 12:00:00</td>
                            <td><button class="openModalBtn">배송하기</button></td>                        
                        </tr>
                        <tr>
                            <td><a class="order-modal-btn">101012121</a></td>
                            <td>wlgus5946</td>
                            <td>챱챱김</td>
                            <td>초코틴틴</td>
                            <td>3</td>
                            <td>9,000</td>
                            <td>신용카드</td>
                            <td>결제완료</td>
                            <td>2024-12-15 12:00:00</td>
                            <td><button class="openModalBtn">배송하기</button></td>
                        </tr>
                    </table>
                </article>
                    <div class="list_button">
                        <button>선택삭제</button>
                        <button>상점등록</button>
                    </div>






            <div id="productModal" class="modal">
                <div class="modal-content">
                    <div class="header">
                    <span class="close">&times;</span>
                    <h3>배송입력</h3>
                    </div>
                    <form>
                        <table class="modaltable">
                            <tr>
                                <th><label for="orderNo">주문번호</label></th>
                                <td>
                                    <input type="text" id="orderNo" name="orderNo" placeholder="123456" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="recipient">수령인</label></th>
                                <td>
                                    <input type="recipient" id="recipient" name="recipient" placeholder="홍길동" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="zipcode">주소</label></th>
                                <td>
                                    <input type="text" id="zipcode" placeholder="유저우편번호" readonly><br>
                                    <input type="text" id="address1" placeholder="유저기본주소" readonly><br>
                                    <input type="text" id="address2" placeholder="유저상세주소" readonly>
                                </td>
                            </tr>
                           
            
                            <tr>
                                <th><label for="courier">택배사</label></th>
                                <td> <select id="classification" >
                                    <option value="">택배사선택</option>
                                    <option value="">대한통운</option>
                                    <option value="">로젠택배</option>
                                    <option value="">우체국</option>
                                </select><br>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="ownerName">운송장번호</label></th>
                                <td><input type="text" id="ownerName" name="ownerName" placeholder=""><br></td>
                            </tr>
                            <tr>
                                <th><label for="businessNumber">기타</label></th>
                                <td><textarea name="etc" id="etc" placeholder="유저요청사항" readonly></textarea><br></td>
                            </tr>
                            
                         </table>
                        <button type="submit">등록하기</button>
                    </form>
                </div>
            </div>
            <div id="modal-section-shipping" class="modal-section-shipping">
                <div class="order-modal-shipping">
                    <div class="shipping-info-items">
                        <span class="shipping-info-close" style="cursor: pointer;">&times;</span>
                        <h3>배송상세</h3>
                    </div>
                    <div class="modal-main">
                        <div class="product-table">
                            <div class="product-info-table">
                                <div class="product-title">
                                    <h3>상품정보</h3>
                                </div>
                                <div class="pro-info-details">
                                    <div class="pro-img"></div>
                                    <div class="pro-num">제품번호</div>
                                    <div class="pro-name">상품명</div>
                                    <div class="pro-seller">판매자</div>
                                    <div class="pro-price">가격</div>
                                    <div class="pro-sell">할인</div>
                                    <div class="pro-stock">재고</div>
                                    <div class="pro-ship">배송비</div>
                                    <div class="total-pay">결제금액</div>
                                </div>
                                <div class="details">
                                    <div class="pro-img-details">
                                        <img src="../images/sample/화면 캡처 2024-10-17 102744.png" alt="#">
                                    </div>
                                    <div class="pro-num-details">123456789</div>
                                    <div class="pro-name-details">프리미엄 퀄리티 오가닉 코튼 100% 에코백 - 다용도 사용 가능, 강력한
                                        내구성</div>
                                    <div class="pro-seller-details">뭐지</div>
                                    <div class="pro-price-details">뭐지</div>
                                    <div class="pro-sell-details">뭐지</div>
                                    <div class="pro-stock-details">뭐지</div>
                                    <div class="pro-ship-details">5000원</div>
                                    <div class="total-pay-details">뭐지</div>
                                </div>
                            </div>
                            <div class="shipping-info-table">
                                <div class="shipping-title">
                                    <h3>배송증보</h3>
                                </div>
                                <div class="user-info-list">
                                    <div class="shipping-order-num">
                                        <div class="order-info-num">주문번호</div>
                                        <div>
                                            <td>123123123</td>
                                        </div>
                                    </div>
                                    <div class="shipping-user-name">
                                        <div class="user-info-name">수령인</div>
                                        <div>
                                            <td>갑찹찹</td>
                                        </div>
                                    </div>
                                    <div class="shipping-addr-num">
                                        <div class="addr-info-hp">연락처</div>
                                        <div>
                                            <td>31231</td>
                                        </div>
                                    </div>
                                    <div class="shipping-addr1">
                                        <div class="addr1-info">배송지주소</div>
                                        <div>
                                            <td>집가고싶다</td>
                                        </div>
                                    </div>
                                    <div class=".shipping-addr2">
                                        <div class="addr2-info"></div>
                                        <div>

                                        </div>
                                    </div>
                                </div>

                                <div class="shipping-info-list">
                                    <div class="shipping-name">
                                        <div class="con-info-name">택배사</div>
                                        <div>
                                            <td>지구택</td>
                                        </div>
                                    </div>
                                    <div class="shipping-num">
                                        <div class="num-info">운송장번호</div>
                                        <div>
                                            <td>12312312</td>
                                        </div>
                                    </div>
                                    <div class="shipping-exc">
                                        <div class="etc-info">기타</div>
                                        <div>
                                            <td>뭔가 하나가 생기겠지</td>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <script th:src="@{/js/delivery.js}"></script>

<!--                    <script>-->
<!--                        document.addEventListener('DOMContentLoaded', function () {-->
<!--                            const modal = document.querySelector('.modal-section-shipping');-->
<!--                            const orderModal = document.querySelector('.order-modal-shipping');-->
<!--                            const modalClose = document.querySelector('.shipping-info-close');-->

<!--                            function openModal() {-->
<!--                                modal.style.display = 'flex'; // 모달을 flex로 표시-->
<!--                                orderModal.style.display = 'block'; // 내부 모달도 표시-->
<!--                            }-->

<!--                            function closeModal() {-->
<!--                                modal.style.display = 'none'; // 모달을 숨김-->
<!--                                orderModal.style.display = 'none'; // 내부 모달도 숨김-->
<!--                            }-->

<!--                            document.querySelectorAll('.shipping-info-btn').forEach(button => {-->
<!--                                button.addEventListener('click', openModal);-->
<!--                            });-->

<!--                            modalClose.addEventListener('click', closeModal);-->

<!--                            window.addEventListener('click', function (event) {-->
<!--                                if (event.target === modal) {-->
<!--                                    closeModal();-->
<!--                                }-->
<!--                            });-->
<!--                        });-->
<!--                    </script>-->
</th:block>
