<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Banner Page</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminterms.css}" >

</head>
<body>
<th:block layout:fragment="content">
            <div id="admin_service">    
                <section>
                    <th:block th:replace="~{content/admin/admin_gate}"></th:block>

                    <section id="admin_navi">
                            <p>환경설정</p>
                            <p>
                                <a href="#">HOME</a>
                                <span>></span>
                                <a href="#">환경설정</a>
                                <span>></span>
                                <a href="#">약관관리</a>
                            </p>
                    </section>
                    <article class="admin_terms">
                        <div class="top1">버전 정보</div>
                        <div><span class="top2">회원가입 및 정책 페이지 노출 약관입니다.</span></div>
                        <table class="admin_terms_table">
                            <colgroup>
                                <col style="width: 20%">
                                <col style="width: 80%">
                            </colgroup>
                            <tr>
                                <td>약관내용</td>
                                <td><textarea placeholder="머시기저시기 왈라왈라"></textarea></td>
                            </tr>
                        </table>
                        <div class="admin_term_button">
                            <button>수정하기</button>
                        </div>
                    </article>
                    <article class="admin_terms">
                        <div class="top1">위치정보 이용약관</div>
                        <div><span class="top2">회원가입 및 정책 페이지 노출 약관입니다.</span></div>
                        <table class="admin_terms_table">
                            <colgroup>
                                <col style="width: 20%">
                                <col style="width: 80%">
                            </colgroup>
                            <tr>
                                <td>약관내용</td>
                                <td><textarea placeholder="머시기저시기 왈라왈라"></textarea></td>
                            </tr>
                        </table>
                        <div class="admin_term_button">
                            <button>수정하기</button>
                        </div>
                    </article>
                    <article class="admin_terms">
                        <div class="top1">개인정보 처리방침</div>
                        <div><span class="top2">회원가입 및 정책 페이지 노출 약관입니다.</span></div>
                        <table class="admin_terms_table">
                            <colgroup>
                                <col style="width: 20%">
                                <col style="width: 80%">
                            </colgroup>
                            <tr>
                                <td>약관내용</td>
                                <td><textarea placeholder="머시기저시기 왈라왈라"></textarea></td>
                            </tr>
                        </table>
                        <div class="admin_term_button">
                            <button>수정하기</button>
                        </div>
                    </article>
                </section>
</th:block>
