<div id="aside">
    <h1>자주 묻는 질문</h1>
    <div class="aside_list">
        <ul>
            <li>
                <a class="active" href="#">회원</a>
            </li>
            <li>
                <a class="active" href="#">쿠폰 / 이벤트</a>
            </li>
            <li>
                <a class="active" href="#">주문 / 결제</a>
            </li>
            <li>
                <a class="active" href="#">배송</a>
            </li>
            <li>
                <a class="active" href="#">취소 / 반품 / 교환</a>
            </li>
            <li>
                <a class="active" href="#">여행 / 숙박 / 항공</a>
            </li>
            <li>
                <a class="active" href="#">안전거래</a>
            </li>
        </ul>
    </div>
</div>