<aside class="aside market">
    <div class="cate_aside">
        <ul>
            <li class="lnb1">
                <a th:href="@{/market/main}"><img src="/images/common/aside_category_img1.png" alt="티셔츠">패션·의류·뷰티 </a>
                <ul>
                    <li class="lnb-item">
                        <a>패션</a>
                        <ul class="lnb-sub-menu">
                            <li class=""><a th:href="@{/market/list}">남성패션</a></li>
                            <li class=""><a href="#">여성패션</a></li>
                            <li class=""><a href="#">키즈패션</a></li>
                            <li class=""><a href="#">패션잡화</a></li>
                        </ul>
                    </li>
                    <li class="lnb-item">
                        <a href="#">의류</a>
                        <ul class="lnb-sub-menu hidden">
                            <li class=""><a th:href="@{/market/list}">남성의류</a></li>
                            <li class=""><a th:href="@{/market/list}">여성의류</a></li>
                            <li class=""><a th:href="@{/market/list}">아동의류</a></li>
                            <li class=""><a th:href="@{/market/list}">언더웨어</a></li>
                        </ul>
                    </li>
                    <li class="lnb-item">
                        <a href="#">뷰티</a>
                        <ul class="lnb-sub-menu hidden">
                            <li class=""><a th:href="@{/market/list}">기초화장</a></li>
                            <li class=""><a th:href="@{/market/list}">색조화장</a></li>
                            <li class=""><a th:href="@{/market/list}">헤어제품</a></li>
                            <li class=""><a th:href="@{/market/list}">이너뷰티</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="lnb2">
                <a th:href="@{/market/main}"><img src="/images/common/aside_category_img2.png" alt="노트북">가전·디지털 </a>
                <ul>
                    <li class="lnb-item">
                        <a href="#">가전</a>
                        <ul class="lnb-sub-menu hidden">
                            <li class=""><a th:href="@{/market/list}">생활가전</a></li>
                            <li class=""><a th:href="@{/market/list}">주방가전</a></li>
                            <li class=""><a th:href="@{/market/list}">TV/영상가전</a></li>
                        </ul>
                    </li>
                    <li class="lnb-item">
                        <a href="#">디지털</a>
                        <ul class="lnb-sub-menu hidden">
                            <li class=""><a th:href="@{/market/list}">노트북/PC/태블릿 </a></li>
                            <li class=""><a th:href="@{/market/list}">모니터/프린터/복합기</a></li>
                            <li class=""><a th:href="@{/market/list}">휴대폰/스마트기기</a></li>
                            <li class=""><a th:href="@{/market/list}">음향기기/이어폰</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="lnb3">
                <a th:href="@{/market/main}"><img src="/images/common/aside_category_img3.png" alt="포크">식품·생필품 </a>
                <ul>
                    <li class="lnb-item">
                        <a href="#">식품</a>
                        <ul class="lnb-sub-menu hidden">
                            <li class=""><a th:href="@{/market/list}">야채 </a></li>
                            <li class=""><a th:href="@{/market/list}">곡물</a></li>
                            <li class=""><a th:href="@{/market/list}">육류/어류</a></li>
                            <li class=""><a th:href="@{/market/list}">가공식품</a></li>
                        </ul>
                    </li>
                    <li class="lnb-item">
                        <a href="#">생필품</a>
                        <ul class="lnb-sub-menu hidden">
                            <li class=""><a th:href="@{/market/list}">생활용품 </a></li>
                            <li class=""><a th:href="@{/market/list}">건강용품</a></li>
                            <li class=""><a th:href="@{/market/list}">주방용품</a></li>
                            <li class=""><a th:href="@{/market/list}">세탁/욕실용품</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="lnb4">
                <a th:href="@{/market/main}"><img src="/images/common/aside_category_img4.png" alt="홈">홈·문구·취미 </a>
                <ul>
                    <li class="lnb-item">
                        <a href="#">홈</a>
                        <ul class="lnb-sub-menu hidden">
                            <li class=""><a href="#">소파</a></li>
                            <li class=""><a href="#">침대/매트리스</a></li>
                            <li class=""><a href="#">주방가구</a></li>
                            <li class=""><a href="#">수납장</a></li>
                        </ul>
                    </li>
                    <li class="lnb-item">
                        <a href="#">문구</a>
                        <ul class="lnb-sub-menu hidden">
                            <li class=""><a href="#">필기도구 </a></li>
                            <li class=""><a href="#">문구용폼</a></li>
                            <li class=""><a href="#">사무용품</a></li>
                            <li class=""><a href="#">데스크용품</a></li>
                        </ul>
                    </li>
                    <li class="lnb-item">
                        <a href="#">취미</a>
                        <ul class="lnb-sub-menu hidden">
                            <li class=""><a href="#">꽃/가드닝 </a></li>
                            <li class=""><a href="#">악기/음향기기</a></li>
                            <li class=""><a href="#">공예용품</a></li>
                            <li class=""><a href="#">피규어/프라모델</a></li>
                        </ul>
                    </li>
                </ul>

            </li>
        </ul>
    </div>
    <div class="bestProduct">
        <span><img src="/images/common/aside_best_product_tagR.png" alt="태그">베스트 상품</span>

        <div class="products first">
            <div class="productimg first"><img src="" alt="">
                <p>1</p></div>
            <div class="productInfo">
                <span class="product-name">상품명</span>
                <span class="original-price">30,000원</span>
                <span class="discounted-price"><p class="discount-rate">10%</p> <p>↓</p></span>
                <span class="final-price">27,000원</span>
            </div>
        </div>
        <div class="products">
            <div class="productimg"><img src="" alt="">
                <p class="product-quantity">2</p></div>
            <div class="productInfo">
                <span class="product-name">상품명</span>
                <div class="price">
                    <span class="original-price">30,000원</span>
                    <span class="discounted-price"><p class="discount-rate">10%</p> <p>↓</p></span>
                </div>

                <span class="final-price">27,000원</span>
            </div>
        </div>
        <div class="products">
            <div class="productimg"><img src="" alt="">
                <p class="product-quantity">3</p></div>
            <div class="productInfo">
                <span class="product-name">상품명</span>
                <div class="price">
                    <span class="original-price">30,000원</span>
                    <span class="discounted-price"><p class="discount-rate">10%</p> <p>↓</p></span>
                </div>

                <span class="final-price">27,000원</span>
            </div>
        </div>
    </div>

</aside>