<div id="aside">
    <h1>공지사항</h1>
    <div class="aside_list">
        <ul>
            <li>
                <a class="active" href="#">전체</a>
            </li>
            <li>
                <a class="" href="#">고객서비스</a>
            </li>
            <li>
                <a class="" href="#">안전거래</a>
            </li>
            <li>
                <a class="" href="#">위해상품 </a>
            </li>
            <li>
                <a class="" href="#">이벤트 당첨</a>
            </li>

        </ul>
    </div>
</div>